/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    min-height: 100%;
    background-color: whitesmoke;
}

body {
    height: 100%;
    max-width: 1440px;
    margin-inline: auto;
}

app-root {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 800px;
    width: 100%;
    margin-inline: auto;
    padding: 20px;
}

main {
    flex: 1;
}